<div class="hourly-forecast-container">
  <div class="header">
    <h2 class="title">Hourly forecast</h2>
    <div class="day-selector-wrapper">
      <button class="day-selector-button" (click)="toggleDropdown()">
        <span>{{ selectedDay }}</span>
        <img
          class="dropdown-icon"
          [class.rotated]="isDropdownOpen"
          src="images/icon-dropdown.svg"
          alt="dropdown"
        />
      </button>

      <div class="dropdown-menu" [class.show]="isDropdownOpen">
        <ul>
          <li
            *ngFor="let day of days"
            (click)="selectDay(day)"
            [class.active]="day === selectedDay"
          >
            <span>{{ day }}</span>
            <svg
              class="check-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
            >
              <path
                d="M13.3337 4L6.00033 11.3333L2.66699 8"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="forecast-list">
    <div class="forecast-item" *ngFor="let hour of displayData">
      <img
        [src]="'images/icon-' + hour.icon + '.webp'"
        [alt]="hour.icon + ' icon'"
        class="weather-icon"
      />
      <span class="time">{{ hour.time }}</span>
      <span class="temperature">
        {{ hour.temperature | number : "1.0-0" }}°
      </span>
    </div>
  </div>
</div>