:host {
    display: block;
}

.daily-forecast-container {
    margin-top: 48px;
    max-width: 800px;
}

.title {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: var(--dark-grey);
    border: 1px solid var(--border-grey);
    border-radius: 12px;
    padding: 16px 10px;
}

.day {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.weather-icon {
    width: 60px;
    height: 60px;
}

.temperatures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 33px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
