<form class="search-container" (ngSubmit)="onSearch($event)">
  <div class="search-input-wrapper">
    <img src="images/icon-search.svg" alt="search icon" class="search-icon" />
    <input
      type="search"
      placeholder="Search for a place"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onInputChange()"
      (focus)="onFocus()"
      name="searchQuery"
      autocomplete="off"
    />
    <div
      class="suggestions-dropdown"
      *ngIf="showSuggestions && (suggestions$ | async) as suggestions"
    >
      <ul *ngIf="suggestions.length > 0">
        <li *ngFor="let city of suggestions" (click)="selectCity(city)">
          {{ city }}
        </li>
      </ul>
    </div>
  </div>
  <button type="submit" class="search-button">Search</button>
</form>
