:host {
  display: block;
}

.current-weather-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.main-info {
  background-image: linear-gradient(
      to bottom right,
      rgba(70, 88, 217, 0.5) 0%,
      rgba(43, 27, 156, 0.5) 100%
    ),
    url("/images/bg-today-large.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 84px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather-icon-large {
  width: 120px;
  height: 120px;
}

.temperature {
  font-family: "DM Sans", sans-serif;
  font-size: 96px;
  font-weight: 600;
  font-style: italic;
}

.weather-details-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.detail-card {
  background: var(--dark-grey);
  border: 1px solid var(--border-grey);
  border-radius: 12px;
  padding: 20px;
}

.detail-label {
  margin-bottom: 24px;
  color: var(--grey-200);
}

